


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-us-area .subscribe .subscribe-title,
    .site-main .subscribe-us-area .subscribe .subscribe-title p, h4,
    .site-main .services-area,
    .site-main .subscribe-us-area .subscribe
    {
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }

    .site-main .subscribe-us-area .subscribe form .input-textbox input{
        width: 15rem    !important;
    }

    .site-main > .services-area .services{
        width: 13rem;
    }

}

@media only screen and (max-width: 1306px){
}


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 792px){
    section#about.about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }


    div.paragraph.py-4.w-75{
        margin-left:10%;
    }


    div.project-area .button-group button{
        font: normal 500 18px/40px var(--roboto);
    }

    div.about-area .about-title p{
        padding: 0%;
    }

    div.subscribe-us-area .subscribe form .input-textbox input{
        width: 20rem;
        margin: 5%;
    }
    h1.text-uppercase.text-center{
        /* padding-bottom:2rem; */
        /* font: normal bold 20px/ 30px var(--roboto); */
    }
}



/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area{
        padding: 3% 4%;
    }


}